.visualizer-container {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(var(--primary-color), 0.35);
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
}

.visualizer-channel-labels {
    font-size: 14px;
    color: rgba(128, 0, 128, 0.75);
    font-weight: bold;
    min-width: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    flex: 0;
}

.visualizer-channel-labels span {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
